<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Línea de Tiempo de Historial Laboral</title>
    <link href="../style/tailwind.css" rel="stylesheet">
</head>
<body class="bg">
        <div class="flex w-full space-x-20 justify-center dark:bg-gray-800 py-10 sm:col-span-2 my-0">
            <div class="flex flex-col gap-12 w-5/6 pt-20 pb-20 justify-center mx-auto">
        <div class="flex flex-col gap-3 mx-auto max-w-fit">
            <h2 class="text-3xl leading-10 font-bold text-gray-700 dark:text-white text-left">About<span class="text-primary">.</span></h2>
            <p class="text-gray-500 dark:text-gray-400 text-xl max-w-4xl">Hi there! My name is Santiago Betancur, I'm a frontend developer based in Colombia. Currently I'm a software engineer student with a passion for creating beautiful and functional web interfaces. My strongest skills are HTML, CSS, and JavaScript, I'm constantly expanding my knowledge with new technologies and tools. Also I'm comfortable working with frameworks like React and Vue</p>
        </div>
        <div class="flex flex-col gap-12 lg:flex-row lg:gap-20 justify-center">
            <div class="flex flex-col gap-5">
                <h3 class="text-left text-2xl font-medium dark:text-white">Languages</h3>
                <div class="flex flex-wrap gap-6">
                    <div class="flex flex-col items-center justify-center gap-1">
                        <img src="https://sbetav.me/assets/html-52732337.svg" alt="HTML" class="w-11 h-12 select-none"></img>
                        <p class="text-center text-gray-500 dark:text-gray-400">HTML</p>
                    </div>
                    <div class="flex flex-col items-center justify-center gap-1">
                        <img src="https://sbetav.me/assets/css-8e01670c.svg" alt="CSS" class="w-11 h-12 select-none"></img>
                        <p class="text-center text-gray-500 dark:text-gray-400">CSS</p>
                    </div>
                    <div class="flex flex-col items-center justify-center gap-1">
                        <img src="https://sbetav.me/assets/javascript-0ac5e3cc.svg" alt="JavaScript" class="w-11 h-12 select-none"></img>
                        <p class="text-center text-gray-500 dark:text-gray-400">JavaScript</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-5">
                <h3 class="text-left text-2xl font-medium dark:text-white">Frameworks</h3>
                <div class="flex flex-wrap gap-6">
                    <div class="flex flex-col items-center justify-center gap-1">
                        <img src="https://sbetav.me/assets/react-9fe43511.svg" alt="React" class="w-11 h-12 select-none"></img>
                        <p class="text-center text-gray-500 dark:text-gray-400">React</p>
                    </div>
                    <div class="flex flex-col items-center justify-center gap-1">
                        <img src="https://sbetav.me/assets/vue-5c07a1f8.svg" alt="Vue" class="w-11 h-12 select-none"></img>
                        <p class="text-center text-gray-500 dark:text-gray-400">Vue</p>
                    </div>
                    <div class="flex flex-col items-center justify-center gap-1">
                        <img src="https://sbetav.me/assets/tailwind-2a43431b.svg" alt="Tailwind" class="w-11 h-12 select-none"></img>
                        <p class="text-center text-gray-500 dark:text-gray-400">Tailwind</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-5">
                <h3 class="text-left text-2xl font-medium dark:text-white">Tech Stack</h3>
                <div class="flex flex-wrap gap-6">
                    <div class="flex flex-col items-center justify-center gap-1">
                        <img src="https://sbetav.me/assets/git-3f0b1bae.svg" alt="Git" class="w-11 h-12 select-none"></img>
                        <p class="text-center text-gray-500 dark:text-gray-400">Git</p>
                    </div>
                    <div class="flex flex-col items-center justify-center gap-1">
                        <img src="https://sbetav.me/assets/github-0ad982ff.svg" alt="GitHub" class="w-11 h-12 select-none"></img>
                        <p class="text-center text-gray-500 dark:text-gray-400">GitHub</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

<body>
</html>


